.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

  img {
    width: 200px;
  }
  h3 {
    font-size: 25px;
  }
  .link {
    padding: 10px;
    font-size: 20px;
  }
}
