body {
  font-family: "Open Sans", sans-serif;
  background: #f3f8fa;
}
.active {
  opacity: 1;
  animation: mymove 1s;
}
.Active {
  opacity: 1;
}
.inactive {
  display: none;
  opacity: 0;
  animation: mymove 1s;
}
@keyframes mymove {
  from {
    top: 100px;
  }
  to {
    top: 0px;
  }
}
#articles {
  display: block;
  width: 100%;
  height: 100vh;
  text-align: center;
}
#articles {
  background: linear-gradient(
      to right,
      rgba(20, 51, 90, 0.8),
      rgba(20, 51, 90, 0.6)
    ),
    url("../../public/assets/img/timun magazine.jpg") center top no-repeat;
  max-width: 100vw;
  max-height: auto;
  background-size: cover;
}
#articles h2 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 48px;
  font-weight: 500;
}
#articles h3 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}
#articles p {
  color: #fff;
}
#articles .btn-get-started {
  cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid rgba(20, 51, 90, 1);
}
#articles .btn-get-started:hover {
  background: rgba(20, 51, 90, 1);
  color: #fff;
  text-decoration: none;
}

.magazine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 8vh;
}
.magazine .magazine {
  background: transparent;
  display: flex;
  flex-direction: row;
  height: 100vh;
  border: 0;
  max-width: 100%;
  padding: 0 30px;
  margin-bottom: 60px;
}
.title h3 {
  color: rgba(20, 51, 90, 1);
  margin-top: 10vh;

  font-weight: 400;
  text-align: center;
  font-size: 45px;
}
.title h3:after {
  margin-top: 25px;

  position: relative;
  left: 5%;
  width: 90vw;
  content: " ";
  display: block;
  border: 0.5px solid rgb(37, 94, 165);
}

.magazine {
  padding: 40px 0 20px 0;
}
.magazine .entry {
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.magazine .entry .entry-img {
  position: relative;
  max-height: 440px;
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}
.magazine .entry .entry-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}
.magazine .entry .entry-title a {
  color: rgba(20, 51, 90, 1);
  transition: 0.3s;
}
.magazine .entry .entry-title a:hover {
  color: rgb(37, 94, 165);
}
.magazine .entry .entry-meta {
  margin-bottom: 15px;
  color: rgb(37, 94, 165);
}
.magazine .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}
.magazine .entry .entry-meta li {
  padding-bottom: 5px;
}
.magazine .entry .entry-meta i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
}
.magazine .entry .entry-meta li span {
  padding-right: 20px;
  color: #777777;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}
.magazine .entry .entry-content p {
  line-height: 24px;
}
.magazine .entry .entry-content .read-more {
  -moz-text-align-last: right;
  text-align-last: right;
}
.magazine .entry .entry-content .read-more button {
  display: inline-block;
  background: rgba(20, 51, 90, 1);
  color: #fff;
  padding: 6px 20px;
  transition: 0.3s;
  font-size: 14px;
  border: none;
}
.magazine .entry .entry-content .read-more button:hover {
  background: rgb(37, 94, 165);
}
.magazine .entry .entry-content .read-more a {
  display: inline-block;
  background: rgba(20, 51, 90, 1);
  color: #fff;
  padding: 6px 20px;
  transition: 0.3s;
  font-size: 14px;
  border: none;
}
.magazine .entry .entry-content .read-more a:hover {
  background: rgb(37, 94, 165);
}
.magazine {
  padding: 40px 0 20px 0;
}
#magazine {
  display: block;
  width: 100%;
  height: 100vh;
  text-align: center;
}
#magazine h2 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 48px;
  font-weight: 500;
}
#magazine h3 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}
#magazine p {
  color: #fff;
}

#magazine .btn-get-started {
  cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid rgba(20, 51, 90, 1);
}
#magazine .btn-get-started:hover {
  background: rgba(20, 51, 90, 1);
  color: #fff;
  text-decoration: none;
}
.sideBarImg {
  aspect-ratio: 3/4;
}

.magazine .entry {
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.magazine .entry .entry-img {
  max-height: 440px;
  margin: -30px -30px 20px -30px;
  overflow: hidden;
  transition: 2s;
  animation: fadeIn 1s;
}
.magazine .entry .mid-img {
  position: relative;
  animation: fadeIn 1s;

  max-height: 440px;
  margin: 10px -30px 20px -30px;
  overflow: hidden;
  transition: 2s;
}
.magazine .entry .entry-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}
.magazine .entry .entry-title a {
  color: #1e4356;
  transition: 0.3s;
}
.magazine .entry .entry-title a:hover {
  color: #68a4c4;
}
.magazine .entry .entry-meta {
  margin-bottom: 15px;
  color: #72afce;
}
.magazine .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}
.magazine .entry .entry-meta ul li + li {
  padding-left: 20px;
}
.magazine .entry .entry-meta i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
}
.magazine .entry .entry-meta a {
  color: #777777;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}
.magazine .entry .entry-content p {
  position: relative;

  line-height: 24px;
}
.magazine .entry .entry-content .read-more {
  -moz-text-align-last: right;
  text-align-last: right;
}

.magazine .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}
.magazine .entry .entry-content blockquote {
  background-color: #fafafa;
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}
.magazine .entry .entry-content blockquote p {
  color: #444;
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}
.magazine .entry .entry-content blockquote::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #1e4356;
  margin-top: 20px;
  margin-bottom: 20px;
}

.magazine .entry-single {
  margin-bottom: 30px;
}
.sidebar .recent-posts h6 {
  display: block;
  margin-left: 95px;
  font-style: italic;
  font-size: 14px;
  color: #aaaaaa;
}
@media (max-width: 1000px) {
  .magazine .entry .entry-content blockquote {
    background-color: #fafafa;
    position: relative;
    text-align: center;
    margin: 20px 0;
    p {
      font-size: 15px;
    }
  }
}
