body {
  font-family: "Open Sans", sans-serif;
  background: #f3f8fa;
}
#studyguides {
  display: block;
  width: 100%;
  height: 100vh;
  text-align: center;
}
#studyguides {
  background: linear-gradient(
      to right,
      rgba(20, 51, 90, 0.8),
      rgba(20, 51, 90, 0.6)
    ),
    url("https://res.cloudinary.com/daihyew9d/image/upload/v1671366029/committee_11zon_isbsxt.jpg")
      center top no-repeat;
  max-width: 100vw;
  max-height: auto;
  background-size: cover;
}
#studyguides h2 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 48px;
  font-weight: 500;
}

.studyguides {
  width: 10%;
}
.Study-title {
  margin-top: 10vh;
  margin-bottom: 5vh;

  section {
    max-width: 100%;
    position: relative;
    h3 {
      color: rgba(20, 51, 90, 1);

      font-weight: 400;
      font-size: 45px;
      max-width: 100%;
    }
  }
  div {
    max-width: 100%;
    max-height: 60vh;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  input {
    height: 5vh;

    max-width: 75%;
    text-indent: 10px;
    background: transparent;

    border: none;
    outline: none;
  }

  input:active {
    background: transparent;
    border: none;
    outline: none;
  }
  button {
    border: none;
    background: #68a4c4;
    i {
      height: auto;
    }
  }
  button:hover {
    transition: 1s;
    background: #186995;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
  }
  .search {
    border: 1px solid #585757;
    margin-bottom: 2vh;
    height: 6vh;
    width: 17vw;
  }
}

.Study-title-after {
  position: relative;
  left: 5%;
  width: 90vw;
  content: " ";
  display: block;
  border: 0.5px solid rgb(37, 94, 165);
}
#studyguides h3 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}
#studyguides p {
  color: #fff;
}
#studyguides .btn-get-started {
  cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid rgba(20, 51, 90, 1);
}
#studyguides .btn-get-started:hover {
  background: rgba(20, 51, 90, 1);
  color: #fff;
  text-decoration: none;
}

.row {
  width: 90%;
  display: flex;
  align-items: baseline;
}

.sguide .entry {
  background: rgb(255, 255, 255);
  padding: 0.4px 30px 30px 30px;
  margin-top: 30px;
  margin-bottom: 60px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.sidebar {
  background: #fff;
  padding: 45px 30px 30px 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.sguide .entry .entry-img {
  max-width: 100vh;
  position: fixed;
  max-height: auto;
  overflow: hidden;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.sguide .entry .entry-title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 0;
}
.sguide .entry .entry-subtitle {
  font-size: 20px;
  margin-bottom: 15px;

  font-weight: bold;
  padding: 0;
  a {
    color: rgba(20, 51, 90, 1);
    transition: 0.3s;
  }
}
.sguide .entry .entry-subtitle a:hover {
  color: rgb(37, 94, 165);
  transition: 0.3s;
}
.sguide .entry p {
  margin-bottom: 15px;

  padding: 0;

  color: #5e5e5e;
}
.sguide .entry .entry-title a {
  color: rgba(20, 51, 90, 1);
  transition: 0.3s;
}
.sguide .entry .entry-title a:hover {
  color: rgb(37, 94, 165);
}
.sguide .entry .entry-meta {
  font-size: 18px;
  color: rgb(165, 110, 37) 2;
}
.sguide .entry .entry-meta ul {
  color: #5e5e5e;
  font-size: 15px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  justify-content: baseline;
  align-items: baseline;
  padding: 0;
  margin: 0;
}
.sguide .entry .entry-meta ul li + li {
  margin-top: 20px;
}
.sguide .entry .entry-meta i {
  color: rgba(20, 51, 90, 1);
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
}
.sguide .entry .entry-meta a {
  color: #5e5d5d;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}
.sguide .entry .entry-content p {
  line-height: 24px;
}
.sguide .entry .entry-content .read-more {
  -moz-text-align-last: right;
  text-align-last: right;
}
.sguide .entry .entry-content .read-more a {
  display: inline-block;
  background: rgba(20, 51, 90, 1);
  color: #fff;
  margin-top: 10px;
  padding: 6px 20px;
  transition: 0.3s;
  font-size: 14px;
}
.sguide .entry .entry-content .read-more a:hover {
  background: rgb(37, 94, 165);
}
.sguide .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

.title-study {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
  font-size: 45px;
}
.title-study:after {
  position: relative;
  left: 35%;
  width: 30vw;
  content: " ";
  display: block;
  border: 0.5px solid rgb(37, 94, 165);
}

.sguide .entry .entry-footer {
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
}
.sguide .entry .entry-footer i {
  color: #4c99c1;
  display: inline;
}
.sguide .entry .entry-footer a {
  color: #255269;
  transition: 0.3s;
}
.sguide .entry .entry-footer a:hover {
  color: rgb(37, 94, 165);
}
.sguide .entry .entry-footer .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}
.sguide .entry .entry-footer .cats li {
  display: inline-block;
}
.sguide .entry .entry-footer .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}
.sguide .entry .entry-footer .tags li {
  display: inline-block;
}
.sguide .entry .entry-footer .tags li + li::before {
  padding-right: 6px;
  color: #6c757d;
  content: ",";
}
.sguide .entry .entry-footer .share {
  font-size: 16px;
}
.sguide .entry .entry-footer .share i {
  padding-left: 5px;
}
.sguide .entry-single {
  margin-bottom: 30px;
}
.sguide .sguide-author {
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.sguide .sguide-author img {
  width: 120px;
  margin-right: 20px;
}
.sguide .sguide-author h4 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0px;
  padding: 0;
  color: rgba(20, 51, 90, 1);
}
.sguide .sguide-author .social-links {
  margin: 0 10px 10px 0;
}
.sguide .sguide-author .social-links a {
  color: rgba(30, 67, 86, 0.5);
  margin-right: 5px;
}
.sguide .sguide-author p {
  font-style: italic;
  color: #b7b7b7;
}
.pages {
  margin-top: 5vh;

  color: #387ea2;
  margin-bottom: 5vh;
}
.pages ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.pages li {
  margin: 0 5px;
  transition: 0.3s;
}
.pages li .active {
  background: rgba(20, 51, 90, 1);
  color: #fff;
}
.pages button {
  padding: 7px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #d2d2d2;
}
.upDown {
  color: black;
}

.pages .active button,
.pages li:hover button {
  color: #fff;
  background: rgba(20, 51, 90, 1);
}
.pages .upDown:hover {
  color: rgba(20, 51, 90, 1);
}
.inactive {
  visibility: hidden;
}
.block {
  display: flex;
  align-items: baseline;
}

.sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  color: rgba(20, 51, 90, 1);
  position: relative;
}
.sidebar .sidebar-item {
  margin-bottom: 30px;
}
.sidebar .search-form {
  background: #fff;
  border: 1px solid #ddd;
  padding: 3px 10px;
  position: relative;
}
.sidebar .search-form input[type="text"] {
  outline: none;
  border: 0;
  padding: 4px;
  border-radius: 4px;
  width: calc(100% - 40px);
}
.sidebar .search-form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 15px;
  margin: -1px;
  background: rgba(20, 51, 90, 1);
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  line-height: 0;
}
.sidebar .search-form button i {
  line-height: 0;
}
.sidebar .search-form button:hover {
  background: rgb(37, 94, 165);
}
.sidebar .categories ul {
  list-style: none;
  padding: 0;
}
.sidebar .categories ul li + li {
  padding-top: 10px;
}
.sidebar .categories ul li {
  cursor: pointer;
  color: rgba(20, 51, 90, 1);
  transition: 0.3s;
}
.sidebar .categories ul .active,
.sidebar .categories ul li:hover {
  color: rgb(37, 94, 165);
}
.sidebar .categories ul li span {
  padding-left: 5px;
  color: #aaaaaa;
  font-size: 14px;
}
.sidebar .recent-posts .post-item + .post-item {
  margin-top: 15px;
}
.sidebar .recent-posts img {
  width: 80px;
  aspect-ratio: 16/9;

  float: left;
}
.sidebar .recent-posts h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
}
.sidebar .recent-posts h4 a {
  color: rgba(20, 51, 90, 1);
  transition: 0.3s;
}
.sidebar .recent-posts h4 a:hover {
  color: rgba(20, 51, 90, 1);
}
.sidebar .recent-posts time {
  display: block;
  margin-left: 95px;
  font-style: italic;
  font-size: 14px;
  color: #aaaaaa;
}
